hr {
	background-color: $color__background-hr;
	border: 0;
	height: 1px;
	margin-bottom: 1.5em;
}

@import "lists";

img {
	height: auto; /* Make sure images are scaled correctly. */
	max-width: 100%; /* Adhere to container width. */
}

figure {
	margin: 0;
}

@import "tables";


.site-header {
	background: -webkit-linear-gradient(#2b2f3d,#515665);
	border-bottom:4px solid #2b2f3d;
}